{% extends 'base.html' %}
{% load static %}

{% block left %}
    <div class="timetable-card-container">
        <div class="timetable-card">
            <div class="timetable-card-content">
                <img class="timetable-card_image" src="/media/learning.png" alt="">
                <p class="timetable-card_title">
                    <a href="{% url 'groups' %}">Расписание студентов</a>
                </p>
            </div>
        </div>

        <div class="timetable-card">
            <div class="timetable-card-content">
                <img class="timetable-card_image" src="/media/teacher.png" alt="">
                <p class="timetable-card_title">
                    <a href="{% url 'faculties' %}">Расписание преподавателей</a>
                </p>
            </div>
        </div>

        <div class="timetable-card">
            <div class="timetable-card-content">
                <img class="timetable-card_image" src="/media/seminar.png" alt="">
                <p class="timetable-card_title">
                    <a href="{% url 'audiences' %}">Расписание по аудиториям</a>
                </p>
            </div>
        </div>
    </div>
    <img src="/media/main.jpg" width="750" height="500" alt="">
{% endblock %}

{% block right %}
{% endblock %}