*{
    margin: 0;
    padding: 0;
}

.main{
    margin: auto;
    justify-content: center;
    max-width: 1320px;
    padding-left: 10px;
    padding-right: 10px;
}

.page-title{
    margin-bottom: 10px;
    color: #de3771;
}

.menus-wrapper{
    display: flex;
    gap: 30px;
}

.left-menu{
    flex: 1 1 75%;
}

.right-menu{
    flex: 1 1 25%;
}

.timetable-card-content{
    padding: 20px 30px;
}

.timetable-card-container{
    display: flex;
    gap: 30px;
}

.timetable-card{
    flex: 1 1 auto;
}

.timetable-card_image, .timetable-card_title{
    opacity: 0.7;
}

.timetable-card_title{
    font-size: 20px;
}

.timetable-card_title a{
    text-decoration: none;
    color: black;
}

.timetable-card{
    border: 2px solid rgba(120, 117, 117, 0.2);
}

.timetable-card_image{
    width: 50px;
    height: 50px;
}

.timetable-card-content:hover .timetable-card_title, .timetable-card-content:hover .timetable-card_image{
     opacity: 1;
 }

.timetable-card:hover{
    border: 2px solid rgba(0, 0, 0, 1);
    transition: 0.6s linear;
}

.timetable-card:hover:nth-child(3n-2){
    background: #d7a74d;
}

.timetable-card:hover:nth-child(3n-1){
    background: #8bd74d;
}

.timetable-card:hover:nth-child(3n){
    background: #de3771;
}

/* календарь */
.right-menu-calendar table{
    width: 100%;
}

.right-menu-calendar tbody{
    background: #d7a74d;
}

td, td{
    border: 2px solid #de3771
}

.curr-week{
    background: #427915;
}

button{
    outline: none; /* Для синий ободки */
    border: 0;
    background: none;
}

.calendar-buttons{
    display: flex;
    width: 100%;
}

#prev{
    margin-right: auto;
}

table {
    border-collapse: collapse;
}



/* конец календаря */

/* правое меню */
.right-menu-search{
    border: 2px solid rgba(120, 117, 117, 0.2);
    margin-bottom: 30px;
}

.right-menu-search-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.search-container{
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.search-input{
    width: 100%;
    height: 20px;
}

.search-title{
    color: #8bd74d;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 5px;
}

fieldset{
    border: none;
}

.right-menu-search-button{
    width: 20px;
    height: 20px;
}

.search-button-span{
    background: url("img/lupa.png") !important;
}

/*страницы списков*/
.second-page-title{
    margin-bottom: 10px;
    font-size: 25px;
    color: #427915;
}

.list{
    list-style-type: none;
}

.list-item{
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.list-item:hover{
    opacity: 1;
}

.timetable-wrapper{
    display: flex;
    flex-direction: column;
}

.timetable-header{
    display: flex;
    margin-bottom: 10px;
}

.timetable-header-date,  .timetable-date{
    flex: 0 0 10%;
}

.timetable-header-time, .timetable-time{
     flex: 0 0 15%;
}

.timetable-header-subject, .timetable-subjects{
    flex: 0 0 30%;
}

.timetable-header-teacher, .timetable-teacher{
    flex: 0 0 20%;
}

.timetable-header-group, .timetable-group{
    flex: 0 0 10%;
}

.timetable-item{
    display: flex;
    margin-bottom: 10px;
}